.bg-config-layer {
  background-repeat: repeat-x;
  background-size: 576px 324px;
}

.sunset-bg { background: linear-gradient( to top, #ffb347 0%, #ff5e62 50%, #2b5876 100%); }
.cloudy-bg { background-color: #87BCC6; }
.rainy-bg { background-color: #D9D6CD; }
.shiny-bg { background-image: linear-gradient(to top, #6d84ec, #77befa); }

.bg-layer-2-sunset { background-image: url('../assets/parallax/sunset/2.png'); }
.bg-layer-3-sunset { background-image: url('../assets/parallax/sunset/3.png'); }
.bg-layer-4-sunset { background-image: url('../assets/parallax/sunset/4.png'); }

.bg-layer-2-cloudy { background-image: url('../assets/parallax/cloudy/2.png'); }
.bg-layer-3-cloudy { background-image: url('../assets/parallax/cloudy/3.png'); }
.bg-layer-4-cloudy { background-image: url('../assets/parallax/cloudy/4.png'); }

.bg-layer-2-rainy { background-image: url('../assets/parallax/rainy/2.png'); }
.bg-layer-3-rainy { background-image: url('../assets/parallax/rainy/3.png'); }
.bg-layer-4-rainy { background-image: url('../assets/parallax/rainy/4.png'); }

.bg-layer-2-shiny { background-image: url('../assets/parallax/shiny/2.png'); }
.bg-layer-3-shiny { background-image: url('../assets/parallax/shiny/3.png'); }
.bg-layer-4-shiny { background-image: url('../assets/parallax/shiny/4.png'); }


.bg-layer-2 {
  z-index: 2;
  animation: scrollBackground 108s linear infinite;
}

.bg-layer-3 {
  z-index: 3;
  animation: scrollBackground 72s linear infinite;
}

.bg-layer-4 {
  z-index: 5;
  animation: scrollBackground 36s linear infinite;
}

@keyframes scrollBackground {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1152px;
  }
}

.volume-slider {
  height: 16px;
  background: transparent;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.volume-slider::-webkit-slider-runnable-track {
  height: 5px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  transition: width 0.2s, height 0.2s;
  cursor: pointer;
  margin-top: -4px;
}

.volume-slider:focus {
  outline: none;
}
.volume-slider::-ms-tooltip {
  display: none;
}