<div class="relative w-screen h-screen overflow-hidden">

    <div id="layer-1" class="absolute top-0 left-0 w-full h-full" [ngClass]="{ 'sunset-bg': weatherType === 'sunset', 'cloudy-bg': weatherType === 'cloudy', 'rainy-bg': weatherType === 'rainy', 'shiny-bg': weatherType === 'shiny' }"></div>
    <div id="layer-2" class="absolute bottom-0 left-0 w-full h-full bg-config-layer bg-layer-2" [ngClass]="{ 'bg-layer-2-sunset': weatherType === 'sunset', 'bg-layer-2-cloudy': weatherType === 'cloudy', 'bg-layer-2-rainy': weatherType === 'rainy', 'bg-layer-2-shiny': weatherType === 'shiny' }"></div>
    <div id="layer-3" class="absolute left-0 w-full h-full bg-bottom bottom- bg-config-layer bg-layer-3" [ngClass]="{ 'bg-layer-3-sunset': weatherType === 'sunset', 'bg-layer-3-cloudy': weatherType === 'cloudy', 'bg-layer-3-rainy': weatherType === 'rainy', 'bg-layer-3-shiny': weatherType === 'shiny' }"></div>
    <div id="layer-4" class="absolute bottom-0 left-0 w-full h-full bg-bottom bg-config-layer bg-layer-4" [ngClass]="{ 'bg-layer-4-sunset': weatherType === 'sunset', 'bg-layer-4-cloudy': weatherType === 'cloudy', 'bg-layer-4-rainy': weatherType === 'rainy', 'bg-layer-4-shiny': weatherType === 'shiny' }"></div>

    <div id="weather" class="absolute bottom-0 z-10 flex flex-row items-center justify-center w-10/12 gap-5 p-4 transform -translate-x-1/2 -translate-y-1/2 shadow-lg left-1/2 lg:left-4 lg:top-1/2 lg:-translate-y-1/2 lg:-translate-x-0 lg:w-fit h-fit bg-black/25 backdrop-blur-lg rounded-2xl lg:flex-col">
        <div class="absolute z-0 transition-all duration-300 rounded-lg shadow-lg bg-white/25" [ngStyle]="{ top: highlightTop + 'px', left: highlightLeft + 'px', width: highlightWidth + 'px', height: highlightHeight + 'px' }" ></div>

        <div 
        class="relative z-10 p-3 transition-all duration-200 rounded-lg hover:scale-110 hover:cursor-pointer"
        (click)="setWeatherType('sunset')"
        #sunsetIcon
        >
            <img src="../assets/icons/sunset.svg" alt="sunset icon" class="w-[5vh] h-[5vh]" />
        </div>
        <div 
        class="relative z-10 p-3 transition-all duration-200 rounded-lg hover:scale-110 hover:cursor-pointer"
        (click)="setWeatherType('cloudy')"
        #cloudyIcon
        >
            <img src="../assets/icons/cloudy.svg" alt="cloudy icon" class="w-[5vh] h-[5vh]" />
        </div>
        <div 
        class="relative z-10 p-3 transition-all duration-200 rounded-lg hover:scale-110 hover:cursor-pointer"
        (click)="setWeatherType('rainy')"
        #rainyIcon
        >
            <img src="../assets/icons/rainy.svg" alt="rainy icon" class="w-[5vh] h-[5vh]" />
        </div>
        <div 
        class="relative z-10 p-3 transition-all duration-200 rounded-lg hover:scale-110 hover:cursor-pointer"
        (click)="setWeatherType('shiny')"
        #shinyIcon
        >
            <img src="../assets/icons/shiny.svg" alt="shiny icon" class="w-[5vh] h-[5vh]" />
        </div>
    </div>
    
    <div id="clock" class="absolute top-[50%] left-[50%] transform -translate-x-1/2 -translate-y-1/2 w-10/12 lg:w-1/2 h-1/3 lg:h-1/2 z-[4] bg-black/20 backdrop-blur-lg rounded-2xl shadow-lg flex flex-col items-center justify-center gap-0">
        <h1 class="text-[15vw] lg:text-[15vh] font-bold text-white font-quicksand drop-shadow-lg">
            {{ currentTimeString }}
        </h1>
        <h3 class="text-[7.5vw] lg:text-[5vh] font-semibold tracking-wide select-none text-gray-50 font-quicksand drop-shadow-md">
            {{ cityAndCountry }}
        </h3>
        <h3 class="text-[7.5vw] lg:text-[5vh] font-semibold tracking-wide select-none text-gray-50 font-quicksand drop-shadow-md">
            {{ currentTemperature }} °C
        </h3>
    </div>

    <div id="radio" class="max-lg:hidden absolute right-4 top-[50%] transform -translate-y-1/2 w-1/6 h-1/3 bg-black/25 backdrop-blur-lg rounded-2xl shadow-lg flex flex-col items-center justify-between z-10 overflow-hidden">
        <div class="w-full h-1/2">
            <div class="flex items-center justify-center h-full overflow-hidden">
                <img src="../assets/images/song_cover.jpg" alt="radio icon" class="object-cover w-full h-full opacity-75">
            </div>
        </div>
        <div class="w-full h-[50%] flex flex-col items-center justify-around">
            <div class="flex flex-row items-center w-full gap-3 px-3">
                <button (click)="toggleRadioPlayback()" class="relative w-1/5 h-auto rounded-full shadow aspect-square bg-white/20 hover:bg-white/40">
                    <img *ngIf="!isRadioPlaying" src="../assets/icons/play.svg" alt="play icon" class="w-[2.5vh] h-auto aspect-square absolute top-[50%] left-[50%] transform -translate-x-1/2 -translate-y-1/2">
                    <img *ngIf="isRadioPlaying" src="../assets/icons/pause.svg" alt="pause icon" class="w-[2.5vh] h-auto aspect-square absolute top-[50%] left-[50%] transform -translate-x-1/2 -translate-y-1/2">
                </button>
                <div class="flex flex-col w-4/5">
                    <span class="text-[2.5vh] font-quicksand font-semibold text-white drop-shadow capitalize line-clamp-1">{{ currentSong.title || 'Cargando...' }}</span>
                    <span class="text-[2vh] text-gray-200 capitalize font-quicksand line-clamp-1">{{ currentSong.artist || 'Cargando...' }}</span>
                </div>
            </div>
            <div class="flex flex-row items-center justify-center w-full gap-3 px-3">
                <img [src]="radioVolumeIcon" alt="volume" class="w-6 h-6">
                <input type="range" min="0" max="1" step="0.01" [value]="radioVolume" (input)="updateRadioVolume($event)" class="w-full volume-slider">
            </div>
        </div>
    </div>
</div>
