<div class="relative w-screen h-screen overflow-hidden">

    <div id="layer-1" class="absolute top-0 left-0 w-full h-full" [ngClass]="{ 'sunset-bg': weatherType === 'sunset', 'cloudy-bg': weatherType === 'cloudy', 'rainy-bg': weatherType === 'rainy', 'shiny-bg': weatherType === 'shiny' }"></div>
    <div id="layer-2" class="absolute bottom-0 left-0 w-full h-full bg-config-layer bg-layer-2" [ngClass]="{ 'bg-layer-2-sunset': weatherType === 'sunset', 'bg-layer-2-cloudy': weatherType === 'cloudy', 'bg-layer-2-rainy': weatherType === 'rainy', 'bg-layer-2-shiny': weatherType === 'shiny' }"></div>
    <div id="layer-3" class="absolute left-0 w-full h-full bg-bottom bottom- bg-config-layer bg-layer-3" [ngClass]="{ 'bg-layer-3-sunset': weatherType === 'sunset', 'bg-layer-3-cloudy': weatherType === 'cloudy', 'bg-layer-3-rainy': weatherType === 'rainy', 'bg-layer-3-shiny': weatherType === 'shiny' }"></div>
    <div id="layer-4" class="absolute bottom-0 left-0 w-full h-full bg-bottom bg-config-layer bg-layer-4" [ngClass]="{ 'bg-layer-4-sunset': weatherType === 'sunset', 'bg-layer-4-cloudy': weatherType === 'cloudy', 'bg-layer-4-rainy': weatherType === 'rainy', 'bg-layer-4-shiny': weatherType === 'shiny' }"></div>

</div>
